#viewLogin {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/Content/Images/background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.error-text {
    color: rgb(225,85,85);
}

#login {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.9);
    margin-top: 12%;
    color: rgb(0,0,0);
}

.input-login {
    background-color: rgba(255,255,255,0.5);
}

.search-paginate {
    padding: 0px;
    margin: 0px;
}