<div>
    <br />
    <feedback type=typeMessage message=message></feedback>
    <div ng-show="isloading" id="Preloader"></div>
    <div ng-if="!isloading">
        <section class="content-header">
            <div class="col-md-12">
            <h1>
                Manual Integrations
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-cog"></i> Integrations</li>
                <li class="breadcrumb-item active"> Manual</li>
            </ol>
            </div>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                    <div class="col-md-3 ">
                        <h3 class="box-title">Manual Integrations</h3>
                    </div>
                    <a href="/#/main/integrations/configurationManual/-1" class="pull-right btn btn-xs btn-success">Add Integration</a>
                    <br />
                    <br />
                    <div class="col-md-3">
                      <div class="search-paginate">
                        <input ng-model="search" ng-change="methodSearch(search)" type="text" class="form-control input-sm" placeholder="Search For Integration Name" >                               
                        <ul class="pagination">
                            <li ng-if="groupOfPages != 0"><a ng-click="prevGroupOfPages()" class="fa fa-angle-left"></a></li>
                            <li ng-if="1 + groupOfPages * 5 <= numberOfPages" ng-class="page == 0 ? 'active' : ''"><a ng-click="manageIntegrations(0)">{{1 + groupOfPages * 5}}</a></li>
                            <li ng-if="2 + groupOfPages * 5 <= numberOfPages" ng-class="page == 1 ? 'active' : ''"><a ng-click="manageIntegrations(1)">{{2 + groupOfPages * 5}}</a></li>
                            <li ng-if="3 + groupOfPages * 5 <= numberOfPages" ng-class="page == 2 ? 'active' : ''"><a ng-click="manageIntegrations(2)">{{3 + groupOfPages * 5}}</a></li>
                            <li ng-if="4 + groupOfPages * 5 <= numberOfPages" ng-class="page == 3 ? 'active' : ''"><a ng-click="manageIntegrations(3)">{{4 + groupOfPages * 5}}</a></li>
                            <li ng-if="5 + groupOfPages * 5 <= numberOfPages" ng-class="page == 4 ? 'active' : ''"><a ng-click="manageIntegrations(4)">{{5 + groupOfPages * 5}}</a></li>
                            <li ng-if="numberOfPages > (groupOfPages + 1) * 5"><a ng-click="nextGroupOfPages()" class="fa fa-angle-right"></a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                  <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Web Service</th>
                      <th>Operation Web Service</th>
                      <th>Database</th>
                      <th>Path Flat File</th>
                      <th>Curl Parameters</th>
                      <th>Query</th>
                      <th>Query Parameters</th>
                      <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="integration in showIntegrations">
                        <td>{{integration.IntegrationsType.Name}}</td>
                        <td>{{integration.IntegrationName}}</td>
                        <td>{{integration.IntegrationCategory.Name}}</td>
                        <td>{{integration.WebService.Endpoint}}</td>
                        <td>{{integration.OperationsWebService.Name}}</td>
                        <td>
                            NAME<{{integration.DatabaseParameter.Name}}><br />
                            IP<{{integration.DatabaseParameter.Ip}}><br />
                            PORT<{{integration.DatabaseParameter.Port}}><br /> 
                            INSTANCE<{{integration.DatabaseParameter.Instance}}>
                        </td>
                        <td>{{integration.FlatFilesParameter.Location}}/{{integration.FlatFile.Name}}</td>
                        <td>{{integration.CurlParameters}}</td>
                        <td>{{integration.Query.Query1}}</td>
                        <td>
                            <span ng-repeat="param in integration.QueryParameters">
                                {{param.Name}} : {{param.Value}}<br />
                            </span>
                        </td>
                        <td>
                            <div ng-controller="AlertController">
                                <button class="btn btn-xs btn-success" ng-click="editManualIntegration(integration.IntegrationId);">Re-Use</button> 
                                <button class="btn btn-xs btn-danger" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="executeIntegration(integration.IntegrationId)" sweet-on-cancel="return">Execute</button>
                                <button class="btn btn-xs btn-warning" ng-click="viewSystemLog(integration.IntegrationId)">System Log</button>
                                <button class="btn btn-xs btn-primary" ng-click="viewIntegrationLog(integration.IntegrationId)">Integ. Log</button>
                                                          
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Web Service</th>
                      <th>Operation Web Service</th>
                      <th>Database</th>
                      <th>Path Flat File</th>
                      <th>Curl Parameters</th>
                      <th>Query</th>
                      <th>Query Parameters</th>
                      <th>Options</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
</div>