<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-10 col-md-offset-1">
        <h1>
            List System Logs
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-cog"></i> Logs</li>
            <li class="breadcrumb-item active"> List System Logs</li>
        </ol>
        </div>
    </section> 
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">


          <div class="box">
            <div class="box-header">
              <h3 class="box-title">System Logs</h3>      
                
               <div class="pull-right">
                <div class="form-group">
                   <input ng-model="search" ng-change="methodSearch(search)" type="text" class="form-control input-sm" placeholder="Search..." >                               
                </div>
               </div>          
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Description</th>               
                  <th>Integration Name</th>
                  <th>Error Date</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="systemLogs in showLogs">
                  <td>{{systemLogs.Description}}</td>
                  <td>{{systemLogs.Integration.IntegrationName}}</td>                  
                  <td>{{systemLogs.ErrorDate | date:'medium'}}</td>                
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Description</th>                
                  <th>Integration Name</th>
                  <th>Error Date</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <div class="box-footer" ng-controller="AlertController">
                <ul class="pagination pull-right">
                    <li ng-if="groupOfPages != 0"><a ng-click="prevGroupOfPages()" class="fa fa-angle-left"></a></li>
                    <li ng-if="1 + groupOfPages * 5 <= numberOfPages" ng-class="page == 0 ? 'active' : ''"><a ng-click="manageLogs(0)">{{1 + groupOfPages * 5}}</a></li>
                    <li ng-if="2 + groupOfPages * 5 <= numberOfPages" ng-class="page == 1 ? 'active' : ''"><a ng-click="manageLogs(1)">{{2 + groupOfPages * 5}}</a></li>
                    <li ng-if="3 + groupOfPages * 5 <= numberOfPages" ng-class="page == 2 ? 'active' : ''"><a ng-click="manageLogs(2)">{{3 + groupOfPages * 5}}</a></li>
                    <li ng-if="4 + groupOfPages * 5 <= numberOfPages" ng-class="page == 3 ? 'active' : ''"><a ng-click="manageLogs(3)">{{4 + groupOfPages * 5}}</a></li>
                    <li ng-if="5 + groupOfPages * 5 <= numberOfPages" ng-class="page == 4 ? 'active' : ''"><a ng-click="manageLogs(4)">{{5 + groupOfPages * 5}}</a></li>
                    <li ng-if="numberOfPages > (groupOfPages + 1) * 5"><a ng-click="nextGroupOfPages()" class="fa fa-angle-right"></a></li>
                </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



